//
@import 'node_modules/bootstrap/scss/bootstrap';

.navbar{
    height: 10vh !important;
}

main {
    height: 80vh !important;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 10vh !important;
    color: lightgrey;
}